@import "../../../common/style/variables";

@import "../../../common/style/mixins";

.container {
  display: flex;
  justify-content: center;

  margin-top: 60px;
}
.popup {

  @include popup();

}

.form{
   display: flex;
   flex-direction: column;
   align-items: center;
 }

.title {

 @include  headline1();

  margin-bottom: 54px;
}

.subtitle {

  @include subtitle($opacity:0.5);

  margin-bottom: 65px;
}

.button {
  width: 100%;
  margin: 0 0 35px 0;
}

.inputContainer {
  align-self: start;
}

.input {
  width: $popup-input-width;
}

.label {

  @include subtitle(600);

  opacity: 0.5;
}
.link {

 @include title(600);

color: $primary-color;
  &:hover {
    color: $on-primary-color;

    opacity: 0.7;
  }
}
