@import "../../../../common/style/variables";

@import "../../../../common/style/mixins";

.container {
  display: flex;
  justify-content: center;

  margin-top: 60px;
}

.popup {

  @include popup();

}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {

  @include  headline1();

  margin-bottom: 82px;
}

.subtitle {

  @include subtitle($opacity:0.5);

  margin-bottom: 40px;
}

.input {
  width: $popup-input-width;
}

.button {
  width: 100%;
  margin: 0 0 48px 0;
}