@import 'src/common/style/variables';

@import 'src/common/style/mixins';

.packs {
  display: flex;
  flex-direction: column;

  width: $main-width;
  margin: 0 auto;

  .packsName {

    @media screen and (max-width: 1000px) {
      margin-left: 20px;
    }
  }
}

.packsList {
  margin-bottom: 36px;
}

.addPackButton {
  align-self: end;

  margin-bottom: 34px;

  @media screen and (max-width: 1000px) {
    align-self: start;

    margin-left: 20px;
  }
}

.filtersContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  margin-bottom: 30px;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: start;

    width: fit-content;
    margin-left: 20px;
  }
}

.search {
  width: $popup-m-width;
}

.resultsNotFound {
  margin-top: 25px;

  text-align: center;
}