@import "src/common/style/mixins";

.name {
  &:hover {
    cursor: pointer;
  }
}

.disabledName {
  color: rgb(50 50 50 / 31%);
}
.emptyPack {
 display: flex;
  flex-direction: column;
  align-items: center;
}
.title {

  @include headline2;

  margin-bottom: 86px;
}
.text {

  @include title;
}