@import "variables";
@mixin text($fontSize,$fontWeight, $lineHeight,$opacity){
  font-size: $fontSize;
  font-weight:$fontWeight;
  line-height: $lineHeight;
  opacity: $opacity;
}
@mixin button($colorBtnText, $colorBtn,$borderRadiusBtn){
  color:$colorBtnText ;
  background-color:$colorBtn;
  border-radius: $borderRadiusBtn;
}

@mixin width($maxWidth) {
  max-width: $maxWidth;
  width: 100%;
}
@mixin after($position, $top, $left) {
  content: $position;
  position: absolute;
  top: $top;
  left: $left;
}

@mixin fontSize($size, $lineH, $fontW) {
  font-size: $size;
  line-height: 24$lineH;
  font-weight: $fontW;
}