$backgroundBaseColor: #ffffff;
$background100Color: #f5f5f5;
$background200Color: #efefef;
$background300Color: #dadada;

$primaryColor: #366eff;
$onPrimary: #0000;
$warnColor: #ff3636;
$accentColor: #ffc700;