//colors
$background-base-color: #ffffff;
$background-100-color: #FCFCFC;
$background-200-color: #F9F9FA;
$background-300-color: #f5f5f5;
$background-400-color: #efefef;
$background-500-color: #dadada;


$primary-color: #366eff;
$primary-100-color: #2a5de2;

$warn-color: #ff3636;
$warn-100-color: #dd2323;

$accent-color: #ffc700;

$on-primary: #000000;

//sizes
$main-width: 1008px;

$popup-l-width: 439px;
$popup-m-width: 413px;
$popup-s-width: 395px;
$popup-input-width: 347px;