//colors
$background-base-color: #ffffff;
$background-100-color: #f5f5f5;
$background-200-color: #efefef;
$background-300-color: #dadada;

$primary-color: #366eff;
$on-primary: #0000;
$warn-color: #ff3636;
$accent-color: #ffc700;

//sizes
$main-width: 1008px;

$popup-l-width: 439px;
$popup-m-width: 413px;
$popup-s-width: 395px;