@import 'src/common/style/mixins';

@import 'src/common/style/variables';


.profilePage {
  max-width: $main-width;
  margin: 32px auto;
}

.link {

  @include subtitle(500);

  display: flex;
  column-gap: 12px;
  align-items: center;

  color: inherit;
  text-decoration: none;

  &:hover {
    color: $primary-color
  }
}

.profile_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 413px;
  margin: 20px auto 0;
  padding: 27px 15px 36px;

  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

.profile {

  //profile_title
  &_title {

    @include headline1();

    margin-bottom: 30px;

    color: #000;
  }

  //profile_img
  &_img {
    margin-bottom: 17px;

    & img {
      width: 96px;
      height: 96px;

      object-fit: cover;
      border-radius: 50%;
    }
  }

  //profile_name
  &_name {

    @include headline3;

    display: flex;
    justify-content: center;

    margin-bottom: 14px;

    color: #000;

    //profile_name_edit
    &_edit {
      cursor: pointer;

      margin-left: 10px;
    }

  }

  //profile_email
  &_email {

    @include subtitle;

    display: block;

    margin-bottom: 30px;

    color: rgba(0, 0, 0, 0.5);
    color: #000000;
  }

  //profile_file
  &_file {
    cursor: pointer;

    position: relative;

    &::after {
      content: url('../../../assets/img/icons/profil_edit.png');

      position: absolute;
      top: 50%;
      left: -26px;
      transform: translateY(-50%);
    }

    &::before {
      content: '';

      position: absolute;
      top: -8px;
      left: -35px;

      width: 32px;
      height: 32px;

      background-color: #808080;
      border: 1px solid #FFFFFF;
      border-radius: 50%;
    }

    //.profile_file input[type='file']
    & input[type='file'] {
      display: none;
    }
  }

  //profile_btn
  &_btn {

    @include label2;

    cursor: pointer;

    display: block;

    width: 100%;
    max-width: 127px;
    padding: 8px 5px;

    color: rgba(0, 0, 0, 0.8);

    background-color: #FCFCFC;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(109, 109, 109, 0.4), 0 0 0 rgba(255, 255, 255, 0.3);

    //profile_btn_logout
    &_logout {
      position: relative;

      width: 100%;
      padding-left: 43px;

      //max-width: 127px;

      &::after {
        content: url('../../../assets/img/icons/profile_logout.png');

        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);

        width: 16px;
        height: 16px;
      }
    }
  }

  //profile_form
  &_form {
    position: relative;
  }
}

