@import 'src/common/style/mixins';

@import 'src/common/style/variables';

.button {
  cursor: pointer;

  padding-top: 5px;

  background-color: #FCFCFC;
  border: none;
}

.iconDropDown {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.descrDropDown {
  font-size: 16px;
  line-height: 24px;
}

.menuItem {
  display: flex;
  align-items: center;
}