
@import 'src/common/style/variables';

@import 'src/common/style/mixins';

.container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

@mixin num() {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: $background-300-color;
  border: 1px solid $background-500-color;
  border-radius: 4px;
}

.max {

  @include num();

  margin-left: 20px;
}

.min {

  @include num();

  margin-right: 20px;
}