.app {
  height: 100%;
  max-width: 1280px;
  background-color: #FCFCFC;
  margin: 0 auto;
  font-family: Montserrat;
  .centerApp{
    max-width: 1008px;
    margin: 0 auto;
    .nav ul{
display: flex;
      list-style-type: none;
      justify-content: space-between;
      .linearProgress{
        position: absolute;
      }
      .item{
          text-decoration: none;

      }
    }
  }
}
