.paginatorMain {
  display: flex;
  justify-content: start;

  padding-top: 20px;

  .showPerPage {
    display: flex;


    margin-left: 20px;

    font-size: 12px;

    .nameShowPerPage {
      align-self: center;

      margin-right: 11px;
      margin-left: 11px;
    }
  }
}