@import 'src/common/style/variables';

.paginatorContainer {
  display: flex;
  align-items: center;
  justify-content: start;

  height: 26px;
}

.showPerPage {
   display: flex;

   height: 100%;
   margin-left: 20px;

   font-size: 12px;
 }

.nameShowPerPage {
  align-self: center;

  margin-right: 11px;
  margin-left: 11px;
}