@import 'src/common/style/variables';

@mixin defaultButton() {
  cursor: pointer;

  box-sizing: border-box;
  height: fit-content;
  padding: 8px 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;

  border: none;
  border-radius: 30px;

  transition: all 0.4s ease;
}

.primary {

  @include defaultButton;

  color: $background-100-color;

  background: $primary-color;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);

  &:hover {
    background: $primary-100-color;
  }

  &:active {
    background: $background-300-color;
  }
}

.secondary {

  @include defaultButton;

  color: $on-primary-color;

  background: $background-100-color;
  box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);

  &:hover {
    background: $background-300-color;
  }

  &:active {
    background: $background-base-color;
  }
}

.warn {

  @include defaultButton;

  color: $background-base-color;

  background: $warn-color;
  box-shadow: 0 4px 18px rgba(255, 54, 54, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);

  &:hover {
    background: $warn-100-color;
  }

  &:active {
    background: $background-base-color;
  }
}

.warn:hover {
  background: $warn-100-color;
}

.icon {
  background: transparent;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;

  opacity: 0.5;
}


