@import 'src/common/style/mixins';

@import 'src/common/style/variables';

.inputContainer {
  position: relative;

  width: 100%;
}

.input {

  @include title(500, 24px);

  display: block;

  box-sizing: border-box;
  min-width: 300px;
  height: fit-content;
  min-height: 20px;
  padding: 5px;

  background: transparent;
  border: none;
  border-bottom: 2px solid #aeaeae;
  outline: none;

  &::placeholder {
    font-size: 16px;
    font-weight: 400;

    opacity: 0.5;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 0 transparent;

    transition: background-color 5000s ease-in-out 0s;
  }
}

.label {

  @include label1();

  display: block;

  margin: 0;

  text-align: start;

  opacity: 0.5;
}

@mixin positionAbsolute() {
  position: absolute;
  right: 0;
  bottom: 8px;
}

.errorContainer {
  width: 100%;
  height: 20px;
}

.error {

  @include subtitle(500, 100%);

  margin: 0;
  padding: 6px 0;

  color: $warn-color;
  text-align: start;
}

.visibilityIcon {

  @include positionAbsolute;

  cursor: pointer;

  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.inputError {
  padding-right: 42px;
}

.saveButton {

  @include positionAbsolute;

  padding: 7px 10px;

  font-size: 12px;
  font-weight: 400;
  line-height: 100%;

  border-radius: 2px;
}

.search {
  padding: 6px 10px;

  background: $background-base-color;
  border: 1px solid $background-500-color;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);

  &::placeholder {

    @include subtitle($opacity: 0.5);

    padding-left: 25px;

    background: url("../../../assets/img/icons/search.svg") no-repeat;
  }
}