.btn_my, .btn_all {
  cursor: pointer;

  width: 90px;
  padding: 10px;

  border: none;
}

.btn_my {
  border-radius: 2px 0 0 2px;
}

.btn_all {
  border-radius: 0 2px 2px 0;
}

.btn_selected {
  color: white;

  background: #366EFF;
}