@import 'src/common/style/variables';

@import 'src/common/style/mixins';

.packs {
  display: flex;
  flex-direction: column;

  width: $main-width;
  margin: 50px auto;
}

.table {
  display: flex;
  justify-content: center;
}

.addPackButton {
  align-self: end;

  margin-bottom: 34px;
}

.filtersContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
}

.search {
  width: $popup-m-width;
}