.label {
  cursor: pointer;

  display: flex;
  align-items: center;

  padding-left: 60px;
  .checkbox {
    cursor: pointer;

    width: 18px;
    height: 18px;
    margin-right: 8px;

    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid #0059b3;
    border-radius: 3px;

    appearance: none;
    &:checked {
      background-image: url('../../../assets/img/icons/checked.svg');

      appearance: none;
    }
    &:focus {
      border-color: #0059b3;
    }
  }
  .spanClassName {
    font-family: 'Montserrat', sans-serif;
    color: #06c;
  }
}