@import 'src/common/style/mixins';

@import 'src/common/style/variables';

.link {

  @include navigateLink();
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.title {
  display: flex;
  align-items: center;

  max-width: 50%;
}

.searchContainer {
  margin: 20px 0;
}

.search {
  width: 100%;
}

.linkDisabled {
  pointer-events: none;

  opacity: 0.6;
}