//btn_signup
.btn {
  &_signup {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  //btn_signin
  &_signin {
    margin-top: 20px;
  }
}
//error
.error {
  position: absolute;

  font-size: 11px;
  color: #ff0032;
}
//input_box
.input_box {
  position: relative;
}